<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.cpntools.grader/src/org/cpntools/grader/cmdline/GraderCmd.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.cpntools.grader.cmdline.GraderCmd"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="..\baseModel_ID.cpn ..\studentIDs.txt britney 1 ..\grader_cfgs\config_grading_task4.cfg ..\student_solutions\task4_test\"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.cpntools.grader"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-XX:+UseCompressedOops -Xmx4G"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="D:\Dropbox\work_courses\2IIC0_BIS\Course_executions\1718Q1\cpn_assignment\GraderCmd"/>
</launchConfiguration>
